<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update car</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/cars/{id}(id=${car.getId()})}" th:object="${car}">
    <label for="brand">Enter brand: </label>
    <input type="text" th:field="*{brand}" id="brand"/>
    <div style="color:red" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}">Error</div>
    <br/>
    <label for="model">Enter model: </label>
    <input type="text" th:field="*{model}" id="model"/>
    <div style="color:red" th:if="${#fields.hasErrors('model')}" th:errors="*{model}">Error</div>
    <br/>
    <label for="createdDate">Enter created date: </label>
    <input type="text" th:field="*{createdDate}" id="createdDate"/>
    <div style="color:red" th:if="${#fields.hasErrors('createdDate')}" th:errors="*{createdDate}">Error</div>
    <br/>
    <label for="engineVolume">Enter engine volume: </label>
    <input type="text" th:field="*{engineVolume}" id="engineVolume"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{engineVolume}">Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>